<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Like List</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">Like List</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>欲しいものリスト編集</h1>
        <a href="/index" class="cancel-button">キャンセル</a>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">欲しいもの</p>
        <form action="/update/<%= item.id %>" method="POST">
          <input type="text" name="itemName" value="<%= item.items %>" />
          <input type="submit" value="更新する" />
        </form>
      </div>
    </div>
  </body>
</html>
