@import "setting/variable";
$color: #64954f;

.header{
  
  ul{
    display: flex;
    border-bottom: 2px solid $color;
    // background: url($img_path + "file.scss");
  }

  &-item{
    display: flex;
    margin-left: 10px;
  }
  li{
    text-align: center;
    line-height: 50px;  
     
    img{
      height: 50px;
      margin: auto 0 auto 14px;
    }
  }
  a:link,a:visited{
    color: #666;
    width: 150px;
    padding: 10px;
    border-bottom: 5px #f9f9f9 solid;
    text-decoration: none;
  }

  &-item:first-child{
    margin-right: auto;
    margin-left: 0;
    cursor: pointer;
  }

  a:hover{
    border-bottom: $color 5px solid;
    transition: all 0.8s;
    color: #000;
    background: #f2f2f2;
  }
}

.container{
  width: 1000px;
  margin: 0 auto;

  ul{
  list-style-type: none;
  display: flex;
  font-size: 12px;

    li{
      margin: 8px;
      padding: 4px;
      cursor: pointer;
    }

    .dainari{
      cursor: default;
    }
  }
  
  h2{
    padding: 10px 20px;
    font-size: 133%;
    font-weight: normal;
    background: #64954f;
    display: inline-block;
    border-radius: 40px 3px;
    color: #f9f9f9;
    margin: 10px 0 30px -25px;
  }

  .hajime{
    font-weight: bold;
    font-size: 13px;
  }

  .chuui{
    text-indent: -1em;
    font-size: 11px;
    margin-left:2em ;
    line-height: 12px;
    color: #000;
    margin-bottom: 20px;
  }

  form{
    border: solid #999999 1px;
    margin-bottom: 30px;
    
    .table{
      font-size: small;
      width: 85%;
      padding: 25px;
      margin: 0 auto;
  
      &-right{
        text-align: right;
      }
      &-th{
        text-align: left;
        width: 150px;
        padding: 8px 0;
      }
      &-border{
        border-bottom: 1px dotted #999999;
        width: 550px;
      }
      input{
        border: 1px solid #999999;
        padding-left: 8px;
      }
      select{
        border: 1px solid #999999;
      }
      textarea{
        border: 1px solid #999999;
        margin-left: 2em;
        padding-left: 8px;
      }

      &-red{
        color: #f00;
      }
      &-black{
        color: #000;
      }
    }

    .saigo{
      font-size: 12px;
      text-align: center;
      margin-top: -20px;
      margin-bottom: 10px;
    }

    .last{
      text-align: center;
      margin-bottom: 20px;
      
      .submit,.reset{
        background: #777;
        color: #f2f2f2;
        font-size: 12px;
        padding: 5px 15px;
        margin: 0 10px;
        border-radius: 5px;

        &:hover{
          border-radius: 20px 5px;
          color: #f2f2f2;
          background: #64954f;
          transition: all 1s;
        }
      }
    }
  }
}

// お名前   name1
// フリガナ name2
// 電話番号 phone1 phone2 phone3 上中下
// メールアドレス   mail
// 郵便番号 zip1 zip2 上下
// 都道府県 address1
// 住所    address2
// お問い合わせ内容    question
// 送信    btn