*{
  margin: 0;
  padding: 0;
  background: lightblue;
}

.main{
  width: 500px;
  height: 700px;
  margin: 50px auto;
  background: white;
  padding: 50px;

  .btns{
    background: lightblue;
    width: 400px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    
    
  }
  
  .contents{
    width: 480px;
    height: 85%;
    margin: 50px auto 0 auto;
    padding: 10px;
    border-radius: 10px;
  }
  
}

.btn{
  width: 20%;

}
