#blackbox {
  width: 100vw;
  height: 100vh;
  background: #333;
}
#item {
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
