$purple1: #8367c7;
$purple2: #bca7f0;
$orange: #ffcd2a;
$white: #ffffff;
$white2: #f7f7f7;
$black: #3e3a39;

html {
  font-size: 62.5%;
  background-color: $purple1;
  color: $white;
}

main {
  max-width: 428px;
  min-width: 375px;
}

.firstView {
  height: 650px;
  background-color: $black;
  position: relative;
  background-position: 0 60px;
  background-image: url(../images/firstBg.png);
  background-size: cover;
  color: $white2;

  &__text {
    position: absolute;
  }

  &__title {
    width: 310px;
    height: 42px;
    background-image: url(../images/title.png);
    position: absolute;
    top: 113px;
    left: 33px;
    &__text {
      font-size: 1rem;
      position: absolute;
      right: 6px;
      top: 150px;
      font-weight: 100;
    }
  }
  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
  }
  &::before {
    height: 112px;
    background-image: url(../images/firstTop.png);
    background-size: 427px 160px;
    background-position: 0 -25px;
  }
  &::after {
    height: 226px;
    width: 100%;
    background-image: url(../images/firstBottom.png);
    background-size: 446px 226px;
    background-position: -21px 0;
    top: 544px;
  }
}
.topButton {
  background-color: $purple2;
  position: fixed;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  right: 12px;
  bottom: 9px;
  background-image: url(../images/top.svg);
  background-position: center 8px;
  padding-top: 34px;
  z-index: 10000;
}

.profiles {
  background-color: $purple1;
  margin-top: 200px;

  &__title {
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
    padding-top: 52px;
  }
}

.profile {
  width: 90%;
  margin: 0 auto;
  margin-top: 52px;
  font-weight: 100;

  &__photo {
    width: 100%;
    height: 241px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    color: $orange;
    span {
      color: $white;
    }
  }

  &__textWrap {
    font-size: 2rem;
    margin: 23px 0;
  }
}
