@keyframes bg-slider {
    0% { background-position: 0 0; }
    100% { background-position: -4232px 0; } /* 1518pxとは使用した背景画像の長さ */
}

*{
    margin: 0;
    padding: 0;
}

.box{
    background: lightblue;
    width: 1000px;
    margin: 0 auto;
}

.bg-image-loop {
	width: 100%;
	height: 280px;
	position: relative;
	background: url("../images/menu.jpg") repeat-x 0 0;
	background-size: auto 100%;
	animation: bg-slider 40s linear infinite;
}