<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Like List</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">欲しいものリストアプリ</h2>
        <h1 class="title">Like List</h1>
        <p class="description">
          Like Listは、欲しいものをリストアップするサービスです。
          <br />
          欲しいものをリストに追加してみましょう。
        </p>
        <a href="/index" class="index-button">一覧を見る</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png" />
      </div>
    </div>
  </body>
</html>
