*{
  margin: 0;
  padding: 0;
}
.pages{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}
.page{
  height: 100vh;
  font-size: 100px;
  text-align: center;
  line-height: 100vh;
  scroll-snap-align: start;
  
  &_1{
    background-color: lightblue;
  }
  &_2{
    background-color: lightgreen;
  }
  &_3{
    background-color: lightsalmon;
  }
}